<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {{#if title }}
        {{title}} -
      {{/if }}
      domonicmilesi.com
    </title>

    <meta charset="utf-8">
    <meta name="author" content="Domonic Milesi" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="shortcut icon" href="favicon.png">
    <link rel="stylesheet" href="css/style.css" />
    {{#if sidebar }}
    <link rel="stylesheet" href="css/style-sidebar.css"/>
    {{/if }}

    <!-- link js here -->
    <!-- e.g. <script src="js/my_javascript.js" defer></script> -->

    {{#if custom_style }}
      <style>
        {{ custom_style }}
      </style>
    {{/if}}
  </head>

  <body>
    {{#if sidebar }}
    {{> sidebar }}
    {{/if}}
    <main class="content container">
      <h1>{{title}}</h1>
      {{#if writeup }}
      {{{ writeup }}}
      {{else}}
        {{#if writeup_link }}
          <small>Read more about this project <a href="{{writeup_link}}">here</a>.</small>
        {{/if}}
      {{/if}}

      {{{contents}}}

    </main>
    {{#unless sidebar }}
      <footer style="position:absolute; bottom:0; width:100%; padding:1rem 2rem; margin-top:2rem; background-color:black; color:#fff;">
        <small>Made by </small><a style="color:#FFDC00;" href="https://domonicmilesi.com/">Domonic Milesi</a>
      </footer>
    {{/unless}}
  </body>
</html>
